.add {
	background: url(../sysimages/add.png) left top no-repeat;
}

.edit {
	background: url(../sysimages/edit.png) left top no-repeat;
}

.delete {
	background: url(../sysimages/delete.png) left top no-repeat;
}

.query {
	background: url(../sysimages/query.png) left top no-repeat;
}

.reset {
	background: url(../sysimages/reset.gif) left top no-repeat;
}

.ok {
	background: url(../sysimages/ok.png) left top no-repeat;
}

.close {
	background: url(../sysimages/close.png) left top no-repeat;
}

.select {
	background: url(../sysimages/select.png) left top no-repeat;
}

.wrench {
	background: url(../sysimages/wrench.png) left top no-repeat;
}

.exp {
	background: url(../sysimages/exp.png) left top no-repeat;
}

.imp {
	background: url(../sysimages/imp.png) left top no-repeat;
}

.attach {
	background: url(../sysimages/attach.png) left top no-repeat;
}

.home {
	background: url(../sysimages/home.gif) left top no-repeat;
}